body{
    margin: 0px;
}




.header{
background-color:blue;
color:white;
padding-bottom: 80px;

}

.logo{
display:flex;
justify-content: flex-start;
padding-left: 100px;
padding-top:20px;
font-weight:bold;

}

a{
    color:white;
    text-decoration: none;
    display:flex;
}


.right-links{
display:flex;
justify-content:flex-end;
list-style-type: none;
gap: 16px;
padding-top: 7px;
padding-right: 100px;
}

.container{
    display:flex;
    align-items: flex-start;
    justify-content:space-between;
    
}

.containerTwo{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boldh1{
    width:200px;
    margin-bottom: 0px;
}

.tinytext{
    margin-top: 0px;
    width:250px;
}

.left{

    padding-right: 500px;
    padding-top: 30px;
}

.right{
    padding-top: 20px;

}

.signup{

    color:rgb(14, 1, 1);
    background-color: chartreuse;
    border-radius: 15px;
}

.rectangle
    {
        width:100px;
        height:100px;
        border:1px solid rgb(30, 33, 214);
        background: transparent;
    }


 .randomInfo{

   display:flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
   
 }
 
 
    .containerThree
  {
   display: flex;
   flex-direction: row;
   gap: 35px;
   flex-wrap: wrap;
   
    }
    
    .containerFour
    {
    display: flex;
    flex-direction: row;
    gap:25px;
    flex-wrap: wrap;
    }

    .rectangle{

        border-radius: 15px;

    }

    .recText{
        display:flex;
        flex-wrap: wrap;
        font-size: small;
        width: 110px;
    }

    .randomStyle{

        margin-top: 40px;
        margin-bottom:40px;
        
    }